.task-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 700px;
    border-radius: 10px;
  }
  
  .task-form input,
  .task-form textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  button{
    border: none;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 15px;
    padding: 4px;
  }
  button:hover{
    scale: 1.05;
    background-color: rgb(72, 72, 72);
    cursor: pointer;
  }
  
  